@font-face {
	src: url("../fonts/OpenSans-Regular.ttf") format('truetype');
	font-family: "Open Sans";
	font-weight: 400;
	font-style: normal;
}

@font-face {
	src: url("../fonts/OpenSans-Bold.ttf") format('truetype');
	font-family: "Open Sans";
	font-weight: 700;
	font-style: normal;
}

@font-face {
	src: url("../fonts/OpenSans-ExtraBold.ttf") format('truetype');
	font-family: "Open Sans";
	font-weight: 800;
	font-style: normal;
}

@font-face {
	src: url("../fonts/OpenSans-SemiBold.ttf") format('truetype');
	font-family: "Open Sans";
	font-weight: 600;
	font-style: normal;
}

@font-face {
	src: url("../fonts/OpenSans-Italic.ttf") format('truetype');
	font-family: "Open Sans";
	font-weight: 400;
	font-style: italic;
}

body a {
	text-decoration: none;
}

body {
	margin: 0 auto;
	max-width: 1249px;
	font-family: "Open Sans", Arial;
}

footer {
	background-color: #313030;
	color: #B8B8B8;
	min-height: 113px;
}

p {
	font-size: 16px;
	line-height: 1.75;
}

h2 {
	font-size: 42px;
	text-transform: uppercase;
	letter-spacing: 0.38px;
	font-weight: 600;
}

.background-grey {
	background-color: #F6F2F2;
}

.header {
	min-height: 89px;
}

.menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.49px;
    font-weight: 700;
    text-transform: uppercase;
    list-style:  none;
    background-color: #000000;
}

.menu-element a {
	color: #E0E0E0;	
}

.menu-element {
	margin: 0 10px;
	min-height: 89px;
	display: flex;
}

.menu-element:hover {
	background-color: #ff3f40;
}

.menu-link {
	padding: 25px;
	align-self: center; 
}

.intro-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 95px;
	flex-wrap: wrap;
	min-height: 480px;
}

.intro-section-left {
	width: 65%;
	max-width: 551px;
    max-height: 368px;
    width: auto;
    height: auto;
}

.intro-section-h1 {
	font-size: 60px;
    line-height: 1.2;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: 800;
    color: #000000;
    margin-top: 0;
    margin-bottom: 0;
    word-break: break-word;
}

.intro-section-p {
	opacity: 0.7;
	margin-bottom: 50px;
}

.intro-button {
	display: flex;
	width: 227px;
	height: 55px;
	background-color: #FF2D2D;
	margin-bottom: 123px;
    justify-content: center;
    align-items: center;
}

.intro-button-link {
	color: #FFFFFF;
	letter-spacing: 0.32px;
	font-weight: 700;
}

.intro-section-right {
	max-width: 551px;
    max-height: 368px;
    margin-left: 10%;
 	box-shadow: 0 -10px 40px 0 rgb(124, 124, 124);	
}

.services-section {
	display: flex;
	flex-wrap: wrap;
	margin-top: 60px;
	justify-content: space-between;
}

.services-section-left {
	width: 40%;
	margin-right: 5%;
}

.service-button {
	display: flex;
	width: 227px;
	height: 55px;
	justify-content: center;
    align-items: center;
    border: solid;
    border-color: #FF0000;
    margin-top: 64px;
}

.service-button-link {
	color: #FF2D2D;
	letter-spacing: 0.32px;
	font-weight: 700;
}

.services-section-right {
	display: flex;
	flex-wrap: wrap;
	width: 50%;
	margin-left: 5%;
}

.service-image {
	width: 41px;
	height: 41px;
	margin-top: 52px;
}

.h3-service {
	font-size: 24px;
    line-height: 0;
    letter-spacing: 0.27px;
    font-weight: 600;
}

.service {
	width: 48%;
	margin: 0 1% 0 1%;
}

.line-grey {
	max-width: 1251px;
	background-color: #ECECEC;
	margin-top: 70px;
}

.products-section-top {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 75px;
	text-align: center;
}

.line-red-1 {
	max-width: 134px;
	min-height: 5px;
	background-color: #FF2D2D;
	margin-top: 0px;
	border: none;
}

.products-section-center {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 60px;
}

.products-link {
	font-size: 22px;
    line-height: 1.09;
    letter-spacing: 0.22px;
	text-transform: uppercase;
	font-weight: 600;
	color: #000000;
	margin: 0 2vw;
}

.products-link:hover {
	color: #FF2D2D;
}

.products-section-bottom {
	display: flex;
	flex-wrap: wrap;
	margin-top: 50px;
	margin-bottom: 120px;
}

.products-section-bottom-image {
	width: 23%;
	margin: 1%;
}

.line-red-2 {
	max-width: 134px;
	min-height: 5px;
	background-color: #FF2D2D;
	margin-top: 0px;
	border: none;
	position: relative;
	left: -558px;
}

.team-section {
	display: flex;
	margin-top: 50px;
}

.team-section-left {
	width: 25%;
	margin-right: 2.5%;
	background-color: #eb6d4a8f;
	max-height: 458px;
}

.team-section-right {
	display: flex;
	width: 65%;
	margin-left: 2.5%;
	flex-direction: column;
}

.team-section-mark-waugh {
	max-width: 663px;
}

.team-h3 {
	font-size: 30px;
    line-height: 0;
    letter-spacing: 0.28px;
    text-transform: uppercase;
    opacity: 0.8;
    font-weight: 600;
}

.team-section-social {
	display: flex;
	flex-wrap: wrap;	
	margin-top: 50px;
	margin-bottom: 50px;
}

.social-link {
	font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.9px;
    font-style: italic;
    color: #000000;
    margin: 0 2vw;
}

.social-link:hover {
	color: #FF2D2D;
}

.team-section-girls {
	display: flex;
	flex-wrap: wrap;
}

.girl {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	margin: 1%;
	width: 23%;
	justify-content: center;
}

.girl-text {
	justify-content: center;
    align-items: center;
	visibility: hidden;
	color: #ffffff;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: #000;
	opacity: 0.5;
	letter-spacing: 0.17px;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 600;
}

.girl:hover > .girl-text {
	visibility: visible;
}

.girl-photo {
	background-color: #d4dce680;
}

.design-section {
	background-color: #2c2c2c;
	color: #F2F2F2;
	margin: 120px 0 0 0;
	min-height: 506px;
	width: 100vw;
}

.design-section-h1 {
	font-size: 42px;
    line-height: 1.2;
    letter-spacing: 1.05px;
    font-weight: 700;
    padding-left: 5vw;
    color: #FFFFFF;
    text-transform: none;
    padding-top: 100px;
}

.design-section-p {
	text-align: center;
	opacity: 0.8;
	color: #FFFFFF;
}

.design-section-bottom {
	display: flex;
	justify-content: center;
	margin-top: 57px;
}

.design-section-bottom-left {
	display: flex;
	width: 524px;
	height: 82px;
	background-color: #FFFFFF;
	margin-right: 19px;
}

.design-section-bottom-left-p {
	color: #2C2C2C;
	padding-left: 38px;
	align-self: center;
	font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.4px
}

.design-section-bottom-right {
	display: flex;
	width: 217px;
	height: 82px;
	background-color: #FF2D2D;
	justify-content: center;
    align-items: center;
}

.design-section-bottom-right-p {
    color: #FFFFFF;
    text-transform: uppercase;
   	font-size: 18px;
    line-height: 1.89;
    letter-spacing: 0.32px;
    font-weight: 700;
}

.get-in-touch {
	margin-top: 100px;
}

.line-red-3 {
	max-width: 134px;
	min-height: 5px;
	background-color: #FF2D2D;
	margin-top: 50px;
	border: none;
	position: relative;
	left: -558px;

}

.contact-section {
	display: flex;
	margin-top: 73px;
	margin-bottom: 107px;
}

.contact-section-left {
	display: flex;
	flex-direction: column;
	width: 65%;
}

.contact-section-left-top {
	display: flex;
}

.contact-section-left-top-leftright {
	display: flex;
	width: 342px;
	height: 71px;
	background-color: #f3f3f3;
	margin: 0 51px 43px 0;
}

.contact-section-left-center {
	display: flex;
	width: 734px;
	height: 252px;
	background-color: #f3f3f3;
}

.contact-section-left-bottom {
	display: flex;
	width: 734px;
	height: 75px;
	background-color: #FF3B3B;
	margin-top: 43px;
	justify-content: center;
    align-items: center;
}

.contact-section-left-p {
	font-size: 16px;
    line-height: 1.75;
    padding-left: 50px;
}

.contact-section-left-pp {
	font-size: 18px;
    line-height: 1.89;
    color: #FFFFFF;
    letter-spacing: 0.32px;
    font-weight: 700;
    text-transform: uppercase;
}

.contact-section-right {
    width: 40%;
    background-color: #2D2D2D;
	color: #FFFFFF;
	min-height: 485px;
	max-width: 580px;
	margin-right: 0;
}

.contact-section-right-h3 {
	font-size: 18px;
    line-height: 1.89;
    letter-spacing: 0.32px;
    text-transform: uppercase;
    margin-top: 141px;
    margin-left: 5vw;
    color: #e0e0e0;
}

.contact-section-right-p {
	font-style: italic;
	color: #e0e0e0;
	margin-left: 5vw;
}

.footer {
	display: flex;
}

.footer-p {
	font-size: 16px;
    line-height: 1.62;
    margin-top: 53px;
    margin-left: 8vw;
}

.footer-left {
	width: 45%;
	margin-right: 5%;
}

.footer-right {
	display: flex;
	justify-content: center;
    width: 45%;
    margin-left: 5%;
}

.footer-image {
	width: 33px;
	height: 33px;
	margin: 48px 1% 0 1%;
}

@media screen and (max-width: 600px) {
	.intro-section-right {
		margin-top: 200px;
		max-width: 275px;
		max-height: 184px;
	}
}

@media screen and (max-width: 800px) {
	.service {
		display: flex;
		flex-wrap: wrap;
	}
}

@media screen and (max-width: 800px) {
	.service {
		display: flex;
		flex-wrap: wrap;
	}
}

@media screen and (max-width: 800px) {
    .products-section-bottom {
    	display: flex;
		flex-wrap: wrap;
    }
}

@media screen and (max-width: 800px) {
    .team-section-girls {
    	display: flex;
		flex-wrap: wrap;
    }
}

@media screen and (max-width: 800px) {
    .contact-section {
    	display: flex;
		flex-wrap: wrap;
    }
}